<% provide(:title,"About") %>

<html>
    <head>
      <title><%= yield(:title) %> | A Job Portal Pannel For Job Seekers and Employers</title>
	</head>
	<body>
		<h1>About</h1>
		<p>
		  A Job Portal Pannel For Job Seekers and Employers
		</p>
	</body>
	
</html>
