<% provide(:title,"Employers") %>
<html>
    <head>
      <title><%= yield(:title) %> | A Job Portal Pannel To Hire Employee</title>
	</head>
	<body>
		<h1>Employers</h1>
		<p>
		  A Job Portal Pannel For Job Seekers and Employers
		</p>
	</body>
	
</html>