<% provide(:title,"Employers") %>
<html>
    <head>
      <title><%= yield(:title) %> | A Job Portal Pannel For Hiring</title>
	</head>
	<body>
		<h1>About</h1>
		<p>
		  A Job Portal Pannel For Hiring
		</p>
	</body>
	
</html>