<% provide(:title,"JobSeeker") %>
<html>
    <head>
      <title><%= yield(:title)%> | A Job Portal to get hired </title>
	</head>
	<body>
		<h1>About</h1>
		<p>
		  A Job Portal to get hired
		</p>
	</body>
	
</html>