<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "WELCOME", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   welcome_path %></li>
        <li><%= link_to "Employer",   signup_path %></li>
        <li><%= link_to "Jobseeker", signup_path%></li>
      </ul>
    </nav>
  </div>
</header>